/* You can inspect element the browser for classes and IDs by going to: vivaldi://inspect/#apps */

#header {
  display: none !important;
}

#browser {
	/* border: 2px solid #7289dc !important; */
}

#tabs-tabbar-container.bottom {
  padding: 0 !important;
}

.tabs-bottom .tab-position .tab:not(.tab-in-accordion):not(.tab-accordion) {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

/* Omnibox drop-down translucency */
.OmniDropdown
{
    background: var(--colorBgAlpha);
    backdrop-filter: blur(10px);
}

/* Quick command menu translucency */
#modal-bg
{
    background-color: var(--colorBgAlpha);
    backdrop-filter: blur(10px);
}

/* Sets the background color to any non-selected 
 * element of the quick command menu to transparent */
#modal-bg *:not([data-selected])
{
    background-color: rgba(0,0,0,0)!important;
}